.home-product{
padding:45px 0;
background:#fff;
}

.product-heading{
text-align:center;
margin-bottom:30px;
}

.product-heading h2{
font-size:36px;
font-weight:700;
}

.product-heading p{
color:#777;
}

.product-img{
width:100%;
height:100%;
object-fit:contain;
transition:all .6s ease;
}

/* arrows */

.carousel-btn{
background:#000;
color:#fff;
width:45px;
height:45px;
display:flex;
align-items:center;
justify-content:center;
font-size:22px;
border-radius:6px;
text-decoration: none !important;
}

/* color selector */
.color-selector{
display:flex;
justify-content:center;
gap:14px;
margin-top:35px;
padding:14px 24px;
background:#fff;
border-radius:50px;
width:fit-content;
margin-inline:auto;
box-shadow:0 6px 18px rgba(0,0,0,0.08);
}

/* circular image buttons */

.color-circle{
border-radius:50%;
cursor:pointer;
background-size:cover;
background-position:center;
border:3px solid transparent;
transition:all .35s ease;
}

/* active color */
.color-circle.active{
transform:scale(1.1);
box-shadow:0 3px 8px rgba(0,0,0,0.2);
}