.product-banner {
  padding: 0;
  margin: 0%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black !important;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/* Mobile devices */
@media (max-width: 576px) {
  .product-banner {
    height: 45vh;
  }
}


/* Tablets */
@media (min-width: 577px) and (max-width: 991px) {
  .product-banner {
    height: 60vh;
  }
}

