.productSpec{
max-width:1200px;
margin:auto;
padding:50px 20px;
}

/* heading + dropdown */

.productSpecTop{
display:flex;
align-items:center;
justify-content:center;
position:relative;
margin-bottom:42px;
}

.productSpecHeading{
font-size:32px;
text-align:center;
}

.variantDropdown{
  position:absolute;
  right:0;
padding: 5px 15px;
  border:2px solid #000;
  background:white;
  cursor:pointer;

}

/* custom arrow */
.variantDropdownWrapper{
  position:absolute;
  right:0;
  display:inline-block;
}


/* image */
.productImage{
  position:relative;
  margin-bottom:50px;
}

.productImage::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:0%;
  background:linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0));
  z-index:1;
}

.productImage img{
  width:100%;
  display:block;
}

.imageInfo{
  position:absolute;
  bottom:120px;
  left:65px;
  color:#fff;
  z-index:2; /* IMPORTANT */
}

.imageInfo h3{
font-size:32px;
margin-bottom:5px;
}

.imageInfo p{
font-size:24px;
}


/* accordion */

.specItem{
border-bottom:1px solid #ddd;
}

/* title */

.specTitle{
padding:16px;
font-weight:600;
cursor:pointer;
background:#fafafa;
display:flex;
align-items:center;
justify-content:space-between;
}

/* arrow */
.arrow{
  width:10px;
  height:10px;
  color: #000;
  border-right:2px solid #000;
  border-bottom:2px solid #000;
  transform:rotate(45deg);
  transition: all 0.3s ease;
}

/* open state → arrow UP */
.specItem.active .arrow{
  transform:rotate(-135deg);
}

/* rotate arrow when open */

.specItem.active .arrow{
transform:rotate(-135deg);
}

/* content animation */

.specContent{
max-height:0;
overflow:hidden;
transition:max-height 0.4s ease;
}

.specContent.show{
max-height:500px;
}

/* table */

.specTable{
width:100%;
border-collapse:collapse;
}

.specTable tr{
border-bottom:1px solid #eee;
text-align: left;
}

.specLabel{
padding:14px;
font-weight:500;
}

.specValue{
padding:14px;
font-weight:600;
}

@media (max-width: 768px){

  .productSpecTop{
    flex-direction:column;
    gap:15px;
  }

  .variantDropdownWrapper{
    position:static;
    width:100%;
    display:flex;
    justify-content:center;
  }

  .variantDropdown{
    width:200px;
    text-align:center;
  }

}